<button (click)='OnRefresh()'> refresh me ! </button>
<button (click)='SetGetStore()'>Cliquez pour import du store : {{_getStore}}</button>

<mat-tab-group>

    <mat-tab label="ID">
        <mat-list-item *ngFor="let record of _records$">
            {{record.Id}}
        </mat-list-item>
    </mat-tab>
    <mat-tab label="ChannelID">
        <mat-list-item *ngFor="let record of _records$">
            {{record.ChannelId}}
        </mat-list-item>
    </mat-tab>
    <mat-tab label="ChannelName">
        <mat-list-item *ngFor="let record of _records$">
            {{record.ChannelName}}
        </mat-list-item>
    </mat-tab>
    <mat-tab label="Called">
        <mat-list-item *ngFor="let record of _records$">
            {{record.CalledPartyNumber}}
        </mat-list-item>
    </mat-tab>
    <mat-tab label="Caller">
        <mat-list-item *ngFor="let record of _records$">
            {{record.CallerPartyNumber}}
        </mat-list-item>
    </mat-tab>
    <mat-tab label="Duration">
        <mat-list-item *ngFor="let record of _records$">
            {{record.Duration}}
        </mat-list-item>
    </mat-tab>
    <mat-tab label="Start">
        <mat-list-item *ngFor="let record of _records$">
            {{record.StartDateTime}}
        </mat-list-item>
    </mat-tab>
    <mat-tab label="Stop">
        <mat-list-item *ngFor="let record of _records$">
            {{record.StopDateTime}}
        </mat-list-item>
    </mat-tab>


</mat-tab-group>